.login_container {
    height: 100vh;
    min-height: 100vh;
    width: 100%;
    background-image:  url('./../../assets/img/signup.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .login_innerBox {
    min-width: 480px;
    height: fit-content;
    width: fit-content;
    background-color: transparent;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
    padding: 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .login_innerBox:hover{
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 1);
  }
  .login_footer {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
 
  
  .login_footer button {
    outline: none;
    border: none;
    background-color: #9900ff;
    color: #fff;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1rem;
    padding: 10px 16px;
    width: 100%;
    transition: 100ms;
    cursor: pointer;
  }
  
  .login_footer button:disabled {
    background-color: gray !important;
  }
  
  .login_footer button:hover {
    background-color: #aa2aff;
  }
  
  .login_footer p {
    font-weight: 700;
    color: #000;
  }
  
  .login_footer p span a {
    font-weight: bold;
    color: #9900ff;
    letter-spacing: 1px;
    font-size: 1rem;
    text-decoration: none;
  }